.full-screen {
    padding-top: 70px;
    display: grid;
    place-items: center;
}

.game-screen {
    position: relative;
    overflow: hidden;
    height: 100%;
    min-width: 400px;
    grid-template-columns: 1fr 3fr 1fr;
    display: grid;
}

.main-game {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
}

.main-sudoku-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(9, auto);
}

.sudoko-cell {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: #657895;
    color: #00aeef;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}


.sudoko-cell:hover {
    border: 2px solid #00aeef;
}

.player-area, .main-game {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.timer {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    padding: 1rem;
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0.5rem solid #333;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

.timer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.5rem solid transparent;
    box-sizing: border-box;
    animation: timer 10s linear forwards;
}

@keyframes timer {
    0% {
        transform: scaleX(0);
        border-color: #333;
    }
    100% {
        transform: scaleX(1);
        border-color: #f00;
    }
}
.scoreboard {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.score-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.score-value {
    font-size: 24px;
    font-weight: bold;
}

.numbers {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}
.number {
    height: 50px;
    border-radius: 10px;
    background-color: #657895;
    color: #000;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}


#controls {
    text-align: center;
}

#controls button {
    margin: 0 10px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
